{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project Website</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'shopco/styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shopco/resources/slick-1.8.1/slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shopco/resources/slick-1.8.1/slick/slick-theme.css' %}" />
</head>

<body>
   <!-- Header -->
   <header class="main-header">
    <div class="black container-one">
        <p>Sign Up and get 20&#37; off to your first order.</p>
        <div class="sign-up">
            <a href="#">Sign Up Now</a>
        </div>
        <div class="close">
            <a href="#"><img src="{% static 'shopco/images/closesign.png' %}" alt="close"></a>
        </div>
    </div>

    <div class="two-col container-two">
        <div class="col">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'shopco/images/SHOP.CO.png' %}" alt="Shop.Co"></a>
            </div>

            <nav class="navigation">
                <ul>
                    <li><a href="#">Shop <img src="{% static 'shopco/images/downarrow.png' %}" alt="downarrow"></a></li>
                    <li><a href="#">On Sale</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Brands</a></li>
                </ul>
            </nav>

            <div class="search-box">
                <button id="search"><img src="{% static 'shopco/images/search.png' %}" alt="search"></button>
                <input type="text" class="search-input" placeholder="Search...">
            </div>
        </div>

        <div class="main-shop">
            <div class="shop">
                <a href="#"><img src="{% static 'shopco/images/trolley.png' %}" alt="trolley"></a>
            </div>
            <div class="profile">
                <a href="#"><img src="{% static 'shopco/images/profile.png' %}" alt="profile"></a>
            </div>
        </div>
    </div>
</header>

<!-- Section One -->
<section class="section-one container-two">
    <div class="leftside-one">
        <div class="heading-section">
            <h1>FIND CLOTHES THAT MATCH YOUR STYLE</h1>
            <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
            <div class="shop-now">
                <button class="shopnow"><a href="#">Shop Now</a></button>
            </div>
        </div>

        <div class="step-section">
            <div class="card">
                <h2>200+</h2>
                <p>International Brands</p>
            </div>
            <div class="card">
                <h2>2,000+</h2>
                <p>High-Quality Products</p>
            </div>
            <div class="card">
                <h2>30,000+</h2>
                <p>Happy Customers</p>
            </div>
        </div>
    </div>

    <div class="rightside-one">
        <img src="{% static 'shopco/images/couple.png' %}" alt="couple">
    </div>
</section>

<!-- Slider Section -->
<section class="slider-section container-one">
    <div class="autoplay">
        <div class="item"><a href="#"><img src="{% static 'shopco/images/versace.png' %}" alt="versace"></a></div>
        <div class="item"><a href="#"><img src="{% static 'shopco/images/zara-logo-1 1.png' %}" alt="zara"></a></div>
        <div class="item"><a href="#"><img src="{% static 'shopco/images/gucci-logo-1 1.png' %}" alt="gucci"></a></div>
        <div class="item"><a href="#"><img src="{% static 'shopco/images/prada-logo-1 1.png' %}" alt="prada"></a></div>
        <div class="item"><a href="#"><img src="{% static 'shopco/images/calvin-klein.png' %}" alt="calvin-klein"></a></div>
    </div>
</section>

<!-- Section Two -->
<section class="section-two container-two">
    <h2>NEW ARRIVALS</h2>
    <div class="products-section">
        <div class="products">
            <img src="{% static 'shopco/images/top-left-main-shirt.png' %}" alt="t-shirt">
            <p>One Life Graphic T-Shirt</p>
            <img class="stars" src="{% static 'shopco/images/stars-tape.png' %}" alt="tape">
            <span class="rating">4.5/5</span>
            <div class="price-section">
                <span class="current-price">$260</span>
                <span class="original-price">$300</span>
                <span class="discount-badge">-40%</span>
            </div>
        </div>

        <div class="products">
            <img src="{% static 'shopco/images/jeans.png' %}" alt="jeans">
            <p>Skinny Fit Jeans</p>
            <img class="stars" src="{% static 'shopco/images/stars-skinny.png' %}" alt="skinny">
            <span class="rating">3.5/5</span>
            <div class="price-section">
                <span class="current-price">&#36;240</span>
                <span class="original-price"><s>&#36;260</s></span>
                <span class="discount-badge">-20&#37;</span>
            </div>
        </div>
    </div>
    <div>
        <button class="view"><a href="#">View All</a></button>
    </div>
</section>

<!-- Footer Section -->
<section class="footer-section">
    <div class="blacktwo-one">
        <h3>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h3>
        <div class="email-box">
            <div>
                <input type="email" class="email-input" placeholder="Please enter your Email">
            </div>
            <div>
                <button id="btn"><a href="#">Subscribe to Newsletter</a></button>
            </div>
        </div>
    </div>
</section>

<footer class="footerbottom-one">
    <div class="column">
        <a href="{% url 'home' %}"><img src="{% static 'shopco/images/SHOP.CO.png' %}" alt="Shop.Co"></a>
        <p>We have clothes that suit your style and which you&apos;re proud to wear. From women to men.</p>
        <div class="social-icons">
            <a href="https://x.com/?lang=en-za"><img src="{% static 'shopco/images/twitter.png' %}" alt="twitter"></a>
            <a href="https://www.facebook.com/"><img src="{% static 'shopco/images/facebook.png' %}" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'shopco/images/instagram.png' %}" alt="instagram"></a>
            <a href="https://github.com/"><img src="{% static 'shopco/images/github.png' %}" alt="github"></a>
        </div>
    </div>
</footer>

<div class="banking">
    <div class="container-three">
        <p>Shop.co &copy;2000 - 2023. All Rights Reserved</p>
        <div class="bank">
            <img src="{% static 'shopco/images/visa.png' %}" alt="visa">
            <img src="{% static 'shopco/images/mastercard.png' %}" alt="mastercard">
            <img src="{% static 'shopco/images/paypal.png' %}" alt="paypal">
            <img src="{% static 'shopco/images/applepay.png' %}" alt="applepay">
            <img src="{% static 'shopco/images/gpay.png' %}" alt="gpay">
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="{% static 'shopco/resources/slick-1.8.1/slick/slick.min.js' %}"></script>
<script src="{% static 'shopco/scripts/AutoLightbox.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script src="{% static 'shopco/scripts/script.js' %}"></script>

</body>
</html>
